@model Domain.Wrapper

@{
    ViewBag.Title = "Sudoku";
    ViewBag.GameState="playing";
    ViewBag.BoxState="";
}
<div class="lastBox hidden" bid=""></div>
<h2>@ViewBag.Title</h2>

@if (Model.IsCompleted ()) {
    ViewBag.GameState="Game complete";
    <script type="text/javascript">
        //$("#btncheatgame").prop('disabled', true);
        console.log('Solved')
    </script>
} else {
    <script type="text/javascript">
        //$("#btncheatgame").prop('disabled', false);
        console.log('incorrect')
    </script>
}

@if (!Model.IsValid ()) {
    ViewBag.BoxState="Number incorrect <button class='btn-danger BlockUndo'>Undo</button>";
    <script type="text/javascript">
        //alert("value not correct");
    </script>
}






    <div class="GameState">@ViewBag.GameState</div>
    <div class="BoxState">@Html.Raw(ViewBag.BoxState)</div>
    <div class="" id="sudoku">
        <div id="buttonpnl">
            <button class="button" onclick="location.href='@Url.Action("NewGame", "Home")'">New Game</button>
            <button class="button" onclick="location.href='@Url.Action("Hint", "Home")'">Hint</button>
            <button class="button" onclick="location.href='/'">Validate</button>
        </div>
            @{
                for (int i = 0;i<81;i++) {
                    var x = (short) ((i%9)+1);
                    var y = (short) ((i/9)+1);
                    var box = new Domain.Box () {
                        X=x,
                        Y=y
                    };
                    Model.GetValue (box);
                    box.IsEditable=box.Value==0;
                    var id = String.Format ("{0},{1}", box.X, box.Y);
                    @Html.Raw("<div class='box'><input onkeyup='sendBox("+id+", this.value)' type='number' min='1' max='9' name='"+ id +"' maxlength='1' class='box-"+ box.X + "-" + box.Y +" numberbox' value='"+ box.Value + "'/></div>");
                }
            }
    </div>

<div class="lol"><button class="ch" onclick="location.href='@Url.Action("Cheat", "Home")'">Cheat</button></div>
